mixin container()
	+b.container&attributes(attributes)
		block
		.container__title Ты сегодня покормил кота?
		// Упаковки
		.items
			// Упаковка - фуа-гра
			mixin item(name, portions, mouses, weight, selected, select, ended, click, out)
				.item(class= ended class= select onclick= click onmouseout= out)
					// Фоны
					.item__frame
						.item__frame-default						
							img(src='../../images/frame__default.png').item__frame-default-img
							img(src='../../images/frame__default-hover.png').item__frame-default-img-hover
						.item__frame-selected
							img(src='../../images/frame__selected.png').item__frame-selected-img
							img(src='../../images/frame__selected-hover.png').item__frame-selected-img-hover
						img(src='../../images/frame__disabled.png').item__frame-disabled-img
					// Содержимое
					.item__content
						// Заголовки
						.item__title
							.item__title-row1 Сказочное заморское яство
							// Подпись при наведении
							.item__title-row1.item__title-row1-selected-hover Котэ не одобряет?
							.item__title-row2 Нямушка
							.item__title-row3= name
						// Что внутри
						.item__text
							.item__text-row1= portions
							.item__text-row2= mouses
						// Вес упаковки
						.item__weight
							.item__weight-number= weight
							.item__weight-units кг
					// Подпись под упаковкой
					.item__description Чего сидишь? Порадуй котэ,
						a(href='#').item__description-a купи
						span.item__description-dot .
					// Товар закончился
					.item__description.item__description_disabled Печалька, с курой закончился
					// Товар выбран
					.item__description.item__description_selected= selected
			+item('с фуа-гра', '10 порций', 'мышь в подарок', '0,5', 'Печень утки разварная с артишоками.', '', '', 'this.classList.toggle("selected"); this.style.pointerEvents = "none"', 'this.style.pointerEvents = "initial"')
			+item('с рыбой', '40 порций', '2 мыши в подарок', '2', 'Головы щучьи с чесноком да свежайшая сёмгушка.', '', '', 'this.classList.toggle("selected");')
			+item('с курой', '100 порций', '5 мышей в подарок заказчик доволен', '5', 'Филе из цыплят с трюфелями в бульоне.', '', 'ended')
					
